#space {
    background-color: black;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;    
}

#rocket { /*TODO remove that*/
    position: absolute;
    z-index: 10;
}

.spaceShip {
    position: absolute;
    z-index: 10;
}

#planet { /*TODO remove that*/
    position: absolute;
    z-index: 2;
}

.astroObject {
    position: absolute;
    z-index: 2;
}

.star {
    position: absolute;
    z-index: 0;
    
}

body {
    overflow: hidden;    
    margin : 0px;
}
