#space {
    background-color: black;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;    
}

.spaceShip {
    position: absolute;
    z-index: 10;
}

.astroObject {
    position: absolute;
    z-index: 2;
}

.star {
    position: absolute;
    z-index: 0;    
}

.hud {
    position: absolute;
    z-index: 0;
    background-color: yellow;  
    padding: 5px;
}

body {
    overflow: hidden;    
    margin : 0px;
}
